.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-logo {
    margin-left: 10px;
    width: 60px;
}

.nav-items {
    margin-right: 10px;
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
}

.nav-items > li {
    padding: 10px;
}